<div class="bs-docs-header" {{bind-attr style=headerImage }}>
  <div class="container">
    <h1>{{t 'groups.title'}}
      {{#if currentUser.id}}
        {{#link-to 'groups.create' classNames="btn btn-primary"}}
            {{t 'Create group'}}
          {{/link-to}}
        {{/if}}
    </h1>
  </div>
</div>
<div class="container bs-docs-container">
  {{we-user-membership-list widgetTitle="currentUser.groups" memberId=currentUser.id}}
  {{we-group-list}}
</div>