Oi {{user.name}},

<p>
Alguém (provavelment você) pediu para <strong>resetar a senha</strong> da sua conta no site {{site.name}}.
</p>
<p>
Clique no link abaixo para criar uma nova senha:
<br>
{{resetPasswordUrl}}
</p>
<p>
Se você não deseja resetar a sua senha, ignore esse email e nenhuma ação será realizada.
</p>
<br>
- Equipe <strong>{{site.name}}</strong><br>
- {{site.url}}
