<h2>{{t "group.invite.title"}}</h2>

{{#if showInviteForm}}
  <h4>{{t "group.invite.form.title"}}</h4>
  {{#if isLoading}}
    Enviando ...
  {{else}}
    <form role="form" {{action "invite" on="submit"}}>
      <div class="form-group">
        <label>{{t 'group.invite.form.user.email'}}</label>
        {{input name="email" value=newInvite.email type="email" required="true" classNames="form-control"}}
      </div>

      <div class="form-group">
        <label>{{t 'group.invite.form.user.name'}}</label>
        {{input name="name" value=newInvite.name type="text" required="true" classNames="form-control"}}
      </div>

      <div class="form-group">
        <label>{{t 'group.invite.form.text'}}</label>
        {{we-editor value=newInvite.text style="small"}}
      </div>

      <div class="form-group">
        <button class="btn btn-primary" type="submit">{{t "group.invite.form.submit"}}</button>
        <button {{action "cancelInvite"}} class="btn btn-default">{{t 'group.invite.form.cancel'}}</button>
      </div>
    </form>
  {{/if}}
{{else}}
  <button {{action "showInvite"}} class="btn btn-default">{{t 'group.invite.form.show'}}</button>
{{/if}}

<h4>{{t "group.invite.list.title"}}</h4>

{{we-group-invite-list groupId=group.id}}
