<form role="form" {{action "submit" on="submit"}}>
  <div class="form-group">
    <div class="input-group">
      <label for="name" class="input-group-addon">{{t 'group.form.name.label'}}</label>
      {{input name="name" value=record.name type="text" placeholderTranslation="group.form.name.placeholder" required="true" classNames="form-control"}}
    </div>
  </div>

  <div class="form-group">
      <label for="description">{{t 'group.form.description.label'}}</label>
      {{we-editor name="description" value=record.description type="text" required="true"}}
  </div>

  <hr>

  <div class="form-group">
    <label class="story-form-label">{{t 'group.form.category.label'}}</label>
    {{we-category-field required="true" value=record.categories modelName="Group" field="categories"}}
  </div>

  <div class="form-group">
    <div class="input-group">
      <label for="privacity" class="input-group-addon">
        <span class="glyphicon glyphicon-lock"></span>
        {{t 'Privacity'}}
      </label>
      {{view "select" name="Privacity" value=record.privacity optionValuePath="content.value" optionLabelPath="content.label" content=privacityList classNames="form-control"}}
    </div>
  </div>

  <hr>

  {{#if record.logo}}
    <div class="form-group">
      <table class="table table-bordered">
        <tbody>
          <tr>
            <td>{{we-image file=record.logo size="thumbnail" width="40px"}}</td>
            <td>{{record.logo.id}}</td>
            <td>{{record.logo.originalname}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  {{/if}}

  <div class="form-group">
    {{#unless inputReset}}
      {{image-upload classNames="form-control header-inputs" files=selectedImage}}
    {{/unless}}
    {{#if selectedImage}}
      <button {{action 'resetSelectedImage'}} class="btn btn-default">{{t 'reset'}}</button>
    {{/if}}
  </div>

  <hr>

  <div class="form-group">
    <button class="btn btn-primary" type="buttom" {{action 'saveRecord'}}>{{t 'group.form.submit'}}</button>
  </div>

</form>