<div class="comments">
  {{#if comments}}
    {{#if hasMoreComments}}
      <div class="comments-header">
        <span class="comment-total">
          {{t 'comments.list.length' lengthBinding=comments.length totalBinding=meta.count}}
        </span> -
        <a href="javascript:;" {{action 'loadAllComments'}}>{{t 'comments.loadAll'}}</a>
      </div>
    {{else}}
      <div class="comment-total">
        {{t 'comments.list.length.all' lengthBinding=comments.length}}
      </div>
    {{/if}}
  {{/if}}
  {{render 'comments/list' comments}}
</div>