{{#if isLoading}}
  <p>{{we-loading isLoading=isLoading}}</p>
{{else}}
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      {{#each record in records}}
        <tr>
          <td>{{record.id}}</td>
          <td>{{record.name}}</td>
          <td>{{record.email}}</td>
        </tr>
      {{else}}
        <tr>
          <p>{{t "group.invite.list.empty"}}</p>
        </td>
      {{/each}}
    </tbody>
  </table>
{{/if}}
