<div class="section-story--pagination">
  <ul class="pagination pagination-lg">
    {{#if canStepBackward}}
      <li class="arrow prev enabled-arrow">
        <button {{action "stepBackward" -1}} class="btn btn-default">&laquo;</button>
      </li>
    {{else}}
      <li class="arrow prev disabled">
        <button class="btn btn-default disabled">&laquo;</button>
      </li>
    {{/if}}

    {{#each item in pageItems}}
      {{#if item.ellipses}}
        <li class="page-number">
          <button disabled='disabled' type="button" class="btn btn-default disabled">...</button>
        </li>
      {{else}}
        {{#if item.current}}
          <li class="active page-number">
            <button class="btn btn-primary active">{{item.page}}</button>
          </li>
        {{else}}
          <li class="page-number">
            <button {{action "pageClicked" item.page}} class="btn btn-default">{{item.page}}</button>
          </li>
        {{/if}}
      {{/if}}

    {{/each}}

    {{#if canStepForward}}
      <li class="arrow next enabled-arrow">
        <button {{action "stepForward" 1}} class="btn btn-default">&raquo;</button>
      </li>
    {{else}}
      <li class="arrow next disabled">
        <button class="btn btn-default disabled">&raquo;</button>
      </li>
    {{/if}}
  </ul>
</div>
