{{#each links}}
  <li>
    {{#if external}}
      <a {{bind-attr href=href}}  {{bind-attr target=target}}>
        {{we-menu-item-text item=this}}
      </a>
    {{else}}
      {{#if modelId}}
        {{#link-to model modelId}}
          {{we-menu-item-text item=this}}
        {{/link-to}}
      {{else}}
        {{#if isSubmenu}}
          <a href="javascript:;">{{text}} <span class="fa arrow"></span></a>
          {{we-submenu text=text links=links}}
        {{else}}
          {{#link-to model}} 
            {{we-menu-item-text item=this}}
          {{/link-to}}
        {{/if}}
      {{/if}}
    {{/if}}
  </li>
{{/each}}