<div class="loading-more-content text-center">
  {{#if loadingMore}}
    {{t 'loading.more'}}... <img src="/public/plugin/we-core/files/images/loading.gif">
  {{else}}
    {{#if haveMore}}
      <a href='javascript:;' {{action 'getMore'}}>{{t 'get.more'}}</a>
    {{else}}
      {{t 'no.more.content'}}
    {{/if}}
  {{/if}}
</div>