<form {{action "createRecord" on="submit"}} >
  <div class="form-group">
    <div class="input-group">
      <label class="input-group-addon">Title</label>
      {{input name="title" value=record.title classNames="form-control"}}
    </div>
  </div>

  <div class="form-group">
    <label>{{t 'page.form.about.label'}}</label>
    {{we-editor value=record.about style="small" classNames="header-inputs"}}
  </div>

  <div class="form-group">
    <label>{{t 'page.form.body.label'}}</label>
    {{we-editor value=record.body classNames="header-inputs"}}
  </div>

  <hr>

  <div class="form-group">
    <label>{{t 'page.form.featuredImage.label'}}</label>
    {{#unless inputReset}}
      {{image-upload classNames="form-control header-inputs" files=selectedImage}}
    {{/unless}}
    {{#if selectedImage}}
      <button {{action 'resetSelectedImage'}} class="btn btn-default">{{t 'reset'}}</button>
    {{/if}}
  </div>

  <hr>

  <div class="form-group">
    <div class="post-edit-category">
      <label for="category">{{t 'page.form.category.label'}}</label>
      {{we-category-field value=record.category newTagMark=' (nova)' maximumSelectionSize='4'}}
    </div>
  </div>

  <div class="form-group">
    <label for="tag">{{t 'page.form.tag.label'}}</label>
    {{we-tag-field value=record.tag newTagMark=' (nova)' maximumSelectionSize='5'}}
  </div>

  <hr>

  <div class="checkbox">
    <label>
      {{input name="published" type="checkbox" checked=record.published}}
      {{t 'page.form.published.label'}}
    </label>
  </div>

  <hr>

  <div class="form-group">
    <div class="input-group">
      <button class="btn btn-primary" type="submit" {{action "createRecord"}}>{{t 'create'}}</button>
    </div>
  <div>
</form>