<h2>
  Title: {{record.title}}
  {{#link-to 'page.edit' record.id classNames="btn btn-default" }}edit{{/link-to}}
</h2>
{{!--
{{we-field-url-alias modelName='page' modelId=record.id}}
 --}}
<div>

  <div class="page-body">
    {{html record.body}}
  </div>
  <br>

  <div class="record-terms">
    {{#if record.categories}}
      <div class="record-category">
        <label>{{t 'page.form.category.label'}}</label>
        {{we-terms terms=record.categories}}
      </div>
    {{/if}}
    {{#if record.tags}}
      <div class="record-tag">
        <label>{{t 'page.form.tag.label'}}</label>
        {{we-terms terms=record.tags}}
      </div>
    {{/if}}
  </div>

  <hr>

  {{#can 'page_update' 'page' 'record'}}
    {{#link-to 'page.edit' record.id classNames="btn btn-primary btn-sm"}}
      Edit
    {{/link-to}}
  {{/can}}
  {{#can 'page_delete' 'page' 'record'}}
    <button {{action 'deleteRecord' record.id}} class="btn btn-default btn-sm">
      Delete
    </button>
  {{/can}}

</div>