<div class="layout-regions row">
  {{#each}}
    <div {{bind-attr class=regionClass}}>
      <div class="widget-content-example">
        <h5>Edit region</h5>
        <div class="edit-region-form">
          <form {{action "saveRecord" on="submit"}}>
            <div class="form-group">
              <div class="input-group">
                <label class="input-group-addon">Name</label>
                {{input name="name" value=model.name classNames="form-control"}}
              </div>
            </div>

            <div class="form-group">
              <div class="input-group">
                <label class="input-group-addon">Columns</label>
                {{view 'select'
                  name="columns"
                  classNames="form-control"
                  value=model.columns
                  content=columnsOptions}}
              </div>
            </div>

            <div class="form-group">
              <div class="input-group">
                <label class="input-group-addon">Order</label>
                {{input name="order" type="number" value=model.order classNames="form-control"}}
              </div>
            </div>

            <div class="form-group">
              <button class="btn btn-default" type="submit" {{action "saveRecord"}}>{{t 'Save'}}</button>
            <div>
          </form>
        </div>
      </div>
    </div>
  {{/each}}
</div>