<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" {{bind-attr style=headerImage }}>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="post-heading">
          <h1>{{focus-input value=record.title placeholderTranslation="page.form.title.label" classNames="form-control input-lg header-inputs"}}</h1>
          <h2 class="subheading">
            <label for="about">{{t 'page.form.about.label'}}</label>
            {{we-editor value=record.about style="small" classNames="header-inputs"}}
          </h2>
          <div class="record-featuredImage">
            {{#unless inputReset}}
              {{image-upload classNames="form-control header-inputs" files=selectedImage}}
            {{/unless}}
            {{#if selectedImage}}
              <button {{action 'resetSelectedImage'}} class="btn btn-default">{{t 'reset'}}</button>
            {{/if}}
          </div>

        </div>
      </div>
    </div>
  </div>
</header>

<!-- Post Content -->
<page>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <form>
          <div class="form-group">
            <div class="post-edit-body">
              <label for="body">{{t 'page.form.body.label'}}</label>
              {{we-editor value=record.body}}
            </div>
          </div>

          <hr>

          <div class="form-group">
            <div class="post-edit-category">
              <label for="category">{{t 'page.form.category.label'}}</label>
              {{we-category-field value=record.categories newTagMark=' (nova)' maximumSelectionSize='4' modelName='Page' field='categories'}}
            </div>
          </div>

          <div class="form-group">
            <label for="tag">{{t 'page.form.tag.label'}}</label>
            {{we-tag-field value=record.tags newTagMark=' (nova)' maximumSelectionSize='5' modelName='Page' field='tags'}}
          </div>

          <hr>

          <div class="checkbox">
            <label>
              {{input name="published" type="checkbox" checked=record.published}}
              {{t 'page.form.published.label'}}
            </label>
          </div>

          <hr>

          {{#if record.id}}
            <div class="form-group">
              <button {{action 'saveRecord'}} class="btn btn-success">Save</button>
              <button {{action 'saveAndPublishRecord'}} class="btn btn-primary">Save and publish</button>
              <button {{action 'cancel'}} class="btn btn-default">Cancel</button>
            </div>
          {{else}}
            <div class="form-group">
              <button {{action 'saveRecord'}} class="btn btn-success">Save</button>
              <button {{action 'saveAndPublishRecord'}} class="btn btn-primary">Save and publish</button>
              <button {{action 'cancel'}} class="btn btn-default">Cancel</button>
            </div>
          {{/if}}

        </form>
      </div>

    </div>
  </div>
</page>
