<article class="bs-docs-section">
  <span class="meta">{{t 'page.created.by'}}
    {{#link-to 'user' record.creator.id}}
      {{record.creator.displayName}}</a>
    {{/link-to}}
     - {{date record.createdAt}}
  </span>

  <div class="article-body">
    {{#if record.id}}
      {{#can 'update_page' 'page' 'record'}}
        {{#link-to 'page.edit' record.id classNames="btn btn-primary"}}
          Edit
        {{/link-to}}
      {{/can}}

      {{#can 'delete_page' 'page' 'record'}}
        <button {{action 'deleteRecord' record.id}} class="btn btn-default">
          Delete
        </button>
      {{/can}}
    {{/if}}

    <div class="page-body">
      {{html record.body}}
    </div>

    {{!-- terms --}}
    <div class="record-terms">
      {{#if record.categories}}
        <div class="record-category">
          <label>{{t 'page.form.category.label'}}</label>
          {{we-terms terms=record.categories}}
        </div>
      {{/if}}

      {{#if record.tags}}
        <div class="record-tag">
          <label>{{t 'page.form.tag.label'}}</label>
          {{we-terms terms=record.tags}}
        </div>
      {{/if}}
    </div>
    {{!-- /terms --}}

    <hr>
    <div class="comment-area">
      <a data-link-area="comments" id="anchor-comments"></a>
      <h3 class="comment-title">{{t 'comments.title'}}</h3>

      {{we-comments commentedModelName="page" commentedModelId=record.id}}

      {{we-comment-form commentedModelName="page" commentedModelId=record.id}}
    </div>
  </div>

</artlcle>