<h2>{{t 'admin.roles'}}</h2>

<div class="actions">
  {{#link-to 'roles.create' classNames="btn btn-default"}}
    {{t 'admin.roles.create.title'}}
  {{/link-to}}
</div>

<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Nome</th>
      <th>Descrição</th>
      <th>Criado Em</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
  {{#each role in model}}
    <tr>
      <th scope="row">{{role.id}}</th>
      <td>{{role.name}}</td>
      <td>{{role.description}}</td>
      <td>{{date role.createdAt}}</td>
      <td><!-- Split button -->
        <div class="btn-group">
          <button type="button" class="btn btn-default" {{action 'showModal' 'components/we-associate-user-role-modal'}}>Associar Usuário</button>
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            <span class="caret"></span>
            <span class="sr-only">Toggle Dropdown</span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li><a {{action 'openModal' 'deleteRole'}}>Deletar</a></li>
          </ul>
        </div>
      </td>
    </tr>
  {{/each}}
  </tbody>
</table>