{{#if isOpen}}
  <div class="site-embed">
    {{#each wembed.images}}
      <div class="site-embed-image">
        <img {{bind-attr src=url}}>
      </div>
    {{/each}}
    <h1 class="site-embed-title">{{wembed.title}}</h1>
    <p class="site-embed-description">{{wembed.description}}</p>
    <div class="site-embed-domain">{{wembed.domain}}</div>

  </div>
{{else}}
  <div class="site-embed">
    <a class="embed-link" target="_blank" {{bind-attr href=wembed.url}}>
      {{#each wembed.images}}
        <div class="site-embed-image">
          <img {{bind-attr src=url}}>
        </div>
      {{/each}}
      <h1 class="site-embed-title">{{wembed.title}}</h1>
      <p class="site-embed-description">{{wembed.description}}</p>
      <div class="site-embed-domain">{{wembed.domain}}</div>
    </a>
  </div>
{{/if}}