{{#if isEditing}}
  <form {{action "saveEditing" on="submit"}} {{action "cancelEditing" on="reset"}} {{bind-attr class=formClassNames}}>
    {{yield}}
    <button type="submit" class="btn btn-sm btn-primary">salvar</button>
    <button {{action 'cancelEditing'}} class="btn btn-sm btn-default">Cancelar</button>
  </form>
{{else}}
  {{html value}} {{#if canEdit}}<button {{action "openEditing"}} {{bind-attr class=editButtonClass}} >editar</button>{{/if}}
{{/if}}
