<div class="groups row">
  {{#if isLoading}}
    <div class="col-md-12">{{we-loading isLoading=isLoading}}</div>
  {{else}}
    <div class="col-md-12">
      <h3>Encontrar Grupos</h3>
    </div>
    {{#each record in records}}
      <div class="col-md-3">
        {{render 'group/teaser' record}}
      </div>
    {{else}}
      <div class="col-md-12">
        <p>{{t 'groups.empty'}}</p>
      </div>
    {{/each}}
  {{/if}}
</div>