<div class="groups row">
  {{#if memberId}}
    <div class="col-md-12">
      <h3>{{title}}</h3>
    </div>
    {{#if isLoading}}
      <div class="col-md-12">{{we-loading isLoading=isLoading}}</div>
    {{else}}
      {{#each records}}
        {{#if group.name}}
          <div class="col-md-3">
            <div class="group group-teaser teaser panel panel-default text-center">
              <div class="panel-content">
                {{#link-to 'group' group.id title=group.name}}
                  {{#if group.logo}}
                    <img width="40px" {{bind-attr src="group.logo.urls.thumbnail"}} />
                  {{else}}
                    <img width="40px" src="/public/plugin/we-core/files/images/logos/group.jpg">
                  {{/if}}
                  {{substr group.name max=25}}
                {{/link-to}}
              </div>
              <div class="panel-footer">
                <span><i class="glyphicon glyphicon-user"></i>{{group.data.meta.membersCount}} {{t 'group.members'}}</span> -
                <span><i class="glyphicon glyphicon-file"></i>{{group.data.meta.contentsCount}} {{t 'group.contents'}}</span>
              </div>
            </div>
          </div>
        {{else}}
          <div class="col-md-3">
            <div class="group group-teaser teaser panel panel-default text-center">
              <div class="panel-content">
                {{we-loading isLoading=true}}
              </div>
            </div>
          </div>
        {{/if}}
      {{else}}
        <div class="col-md-12">
          <p>{{t 'groups.empty'}}</p>
        </div>
      {{/each}}
    {{/if}}
  {{/if}}
</div>