<div data-we-region="{{{name}}}" id="region-{{{name}}}" class="{{attrs.class}}">
  <div class="we-region-actions">
    {{name}}:
    <button onclick="we.structure.openAddWidgetForm('{{{name}}}');" type="button" class="btn btn-default"><i class="glyphicon glyphicon-plus"></i></button>
    <button onclick="we.structure.sortRegionWidgetsForm('{{{name}}}');" type="button" class="btn btn-default"><i class="glyphicon glyphicon-align-justify"></i></button>
  </div>
  <div id="region-{{name}}-widgets" class="region-widgets">{{{widgets}}}</div>
</div>