<div class="container bs-docs-container">
  <div class="row">
    <div class="col-md-3">
      <div class="group-name">
        {{#link-to 'group' group.id}}
          <h4>{{group.name}}</h4>
        {{/link-to}}
      </div>

      <div class="group-logo">
        {{#link-to 'group' group.id}}
          {{#if group.logo}}
            <img width="100%" {{bind-attr src="group.logo.urls.large"}} />
          {{else}}
            <img width="100%" src="/public/plugin/we-core/files/images/logos/group.jpg">
          {{/if}}
        {{/link-to}}
      </div>

      <div id="group-icons">
        <ul class="nav nav-pills nav-justified">
          <li>
            {{we-flag flagType='like' model='group' modelId=group.id}}
          </li>
          <li><i class="glyphicon glyphicon-lock"></i></li>
          <li>
            {{we-follow model='group' modelId=group.id}}
          </li>
        </ul>
      </div>

      <div class="widget widget-type-menu">
        <div class="widget-content">
          {{we-group-join-button tagName="a" group=group classNames="btn btn-primary btn-block"}}
        </div>
      </div>

      <div class="administer-widget widget widget-type-menu">
        <div class="widget-header">
          <h4>
            <span class="glyphicon glyphicon glyphicon-list"></span>
            <span class="icon-title">{{t 'group.menu'}}</span>
          </h4>
        </div>
        <div class="widget-content">
          {{#link-to 'group.about' group.id classNames="list-group-item"}}
            {{t 'group.about'}}
          {{/link-to}}

          {{#link-to 'group.index' group.id classNames="list-group-item"}}
            {{t 'Activity'}}
          {{/link-to}}

          {{#if group.canInvite}}
            {{#link-to 'group.addMember' group.id classNames="list-group-item" }}
              Convidar Pessoa
            {{/link-to}}
          {{/if}}
          {{#link-to 'group.content' classNames="list-group-item"}}
            {{t 'group.contents'}}
          {{/link-to}}
          {{#link-to 'group.members' group.id classNames="list-group-item" }}
            Members
          {{/link-to}}
        </div>
      </div>

      <div class="administer-widget widget widget-type-menu">
        <div class="widget-header">
          <h4>
            <span class="glyphicon glyphicon-cog"></span>
            <span class="icon-title">{{t 'manage'}}</span>
          </h4>
        </div>
        <div class="widget-content">
          {{#link-to 'group.edit' group.id classNames="list-group-item" }}
            {{t 'Edit'}}
          {{/link-to}}
          {{#link-to 'group.addMember' group.id classNames="list-group-item" }}
            Convites
          {{/link-to}}
        </div>
      </div>

      {{we-group-members roleNames="member" groupId=group.id}}
      {{we-group-members roleNames="administrator;moderator" widgetTitle="group.moderators.widget.title" groupId=group.id}}

    </div>
    <div class="col-md-9">
      {{outlet}}
    </div>

  </div>
</div>