<div class="bs-docs-header" {{bind-attr style=headerImage }}>
  <div class="container">
    <h1>{{record.title}}</h1>
    <h5 class="subheading">{{html record.about}}</h5>
  </div>
</div>

<div class="container bs-docs-container">
  <div class="row">
    <div class="col-md-9">
      {{outlet}}
    </div>
    <div class="col-md-3">
      {{we-menu menuName=record.categories.firstObject classNames="nav-colapsable"}}
    </div>
  </div>
</div>