<h2>{{t 'admin.permissions.title'}}</h2>

<div class="actions">
  {{#link-to 'roles.create' classNames="btn btn-default"}}
    {{t 'admin.create.role'}}
  {{/link-to}}

  <a href="/api/v1/fetchActionPermissions?redirect=/admin#/permissions" class="btn">
    {{t 'admin.permissions.fetchAll'}}
  </a>
</div>
<br>
{{#if records.isFulfilled}}
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Permission</th>

        {{#each roles}}
          <th>{{name}}</th>
        {{/each}}

        <th>administrator</th>
      </tr>
    </thead>
    <tbody>
      {{#each permission in records}}
        <tr>
          <th scope="row">{{permission.name}}</th>
          {{#each role in roles}}
            {{we-role-permission-checkbox role=role permission=permission}}
          {{/each}}
          <td>
            <input type="checkbox" disabled="true" checked="true">
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
{{else}}
  <span class="glyphicon glyphicon-refresh"></span> ...
{{/if}}