<h2>{{t 'admin.permissions.title'}}</h2>

<div class="actions">
  {{#link-to 'roles.create' classNames="btn btn-default"}}
    {{t 'admin.create.role'}}
  {{/link-to}}
</div>
<br>
{{#if records}}
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Permission</th>

        {{#each roles}}
          <th>{{name}}</th>
        {{/each}}

        <th>administrator</th>
      </tr>
    </thead>
    <tbody>
      {{#each permission in records}}
        <tr>
          <td scope="row"><strong>{{permission.title}}</strong> <small>({{permission.name}})</small></td>
          {{#each role in roles}}
            <td>
              {{we-role-permission-checkbox role=role permissionName=permission.name}}
            </td>
          {{/each}}
          <td>
            <input type="checkbox" disabled="true" checked="true">
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
{{else}}
  <span class="glyphicon glyphicon-refresh"></span> ...
{{/if}}