<p>
  Oi {{user.name}},<br>
  Obrigado por se registrar no {{site.name}}!
</p>

<p>
  <a text="Confirm link" href="{{confirmUrl}}">Clique aqui</a> ou copie e cole o link abaixo para confirmar seu email e finalizar o registro no {{site.name}}

  <b>Link de confirmação:</b> {{confirmUrl}}
</p>

<p>
Equipe {{site.name}}
</p>