<h1>{{t 'auth.reset-password.title'}}</h1>
<br>
  {{we-sys-messages messages=messages}}
<br>

<div class="well">
{{#unless requestSend}}
  <form  {{action "submit" on="submit"}} name="changePasswordForm" class="user-signup-form" method="POST">
    <!-- input: password -->
    <div class="form-group">
      <div class="input-group">
        <label for="password" class="input-group-addon">{{t 'auth.change-password.newpassword'}}</label>
        {{input name="password" value=user.password  type="password" placeholderTranslation='auth.change-password.newpassword' required="true" classNames="form-control input-lg"}}
      </div>
    </div>
    <!-- /input: password -->
    <!-- input: repeatpassword -->
    <div class="form-group">
      <div class="input-group">
        <label for="repeatpassword" class="input-group-addon">{{t 'auth.change-password.repeatpassword'}}</label>
        {{input name="repeatpassword" value=user.repeatpassword  type="password" placeholderTranslation='auth.change-password.repeatpassword' required="true" classNames="form-control input-lg"}}
      </div>
    </div>
    <!-- /input: repeatpassword -->
    {{we-sys-messages messages=messages}}
    <div class="form-group">
      <div class="input-group">
        <button class="btn btn-lg btn-success " type="submit">
          {{t "Save"}}
          <span class="glyphicon glyphicon-chevron-right"> </span>
        </button>
      </div>
    </div>
  </form>
{{/unless}}
</div>