<table class="table">
  <thead>
    <tr>
      <th>{{t 'name'}}</th>
      <th>Load as</th>
      <th>{{t 'version'}}</th>
      <th>{{t 'actions'}}</th>
    </tr>
  </thead>
  <tbody>
    {{#each themes}}
      <tr>
        <td>{{name}}</td>
        <td>
          {{#ifCond name ../themeConfigs.app}}
            <span class="label label-success">app</span>
          {{/ifCond}}
          {{#ifCond name ../themeConfigs.admin}}
            <span class="label label-warning">admin</span>
          {{/ifCond}}
        </td>
        <td>{{version}}</td>
        <td></td>
      </tr>
    {{/each}}
  </tbody>
</table>
{{!--

<form method="get">
  <h3>Search and install:</h3>
  <div class="form-group" >
    <label for="findNewTheme">Theme name:</label>
    <input type="text" class="form-control" id="findNewTheme" name="findNew" value="{{req.query.findNew}}">
  </div>
</form>

{{#if searchedThemeInfo}}
  <h4>{{req.query.findNew}} info:</h4>
  <pre>{{searchedThemeInfo}}</pre>
  <form method='post'>
    <input type="hidden" name="redirectTo" value="{{req.url}}">
    <input type="hidden" name="type" value="theme">
    <input type="hidden" name="name" value="{{req.query.findNew}}">
    <div class="form-group">
      <button class="btn btn-primary">Install</button>
    </div>
  </form>
{{/if}}

{{#if searchedThemeNotFound}}
  <p>Not found</p>
{{/if}} --}}