<div class="wrapper" id="main">
  {{#if auth.isAuthenticated}}
    {{partial "partials/navbar" }}
    <div id="page-wrapper">
      <br>
      {{bread-crumbs}}

      {{outlet}}

      <br><br><br><br><br>

      {{partial 'partials/footer' }}
    </div>
    <hr>
  {{else}}
    {{outlet}}
  {{/if}}
</div>