{{we-title title='admin.vocabularies.title'}}

<div class='row'>
  <div class='col-md-12'>
    {{#link-to 'vocabulary.create' classNames="btn btn-default"}}
      <span class="text-primary glyphicon glyphicon-plus"></span> {{t "vocabulary.button.create"}}
    {{/link-to}}
  </div>
</div>
<br>

<div class="table-responsive">
  <table class="table table-bordered table-hover table-striped">
    <thead>
      <tr>
        <th>Id</th>
        {{#each attributes}}
          <th>{{this}}</th>
        {{/each}}
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>0</td>
        <td>
          {{#link-to 'vocabulary' '0'}}
             Termos livres
          {{/link-to}}
        </td>
        <td>Termos sem um vocabulário</td>
        <td></td><td></td>
      </tr>
        {{#each record in vocabularies}}
        <tr>
          <td>
            {{#link-to 'vocabulary' record.id}}
              {{record.id}}
            {{/link-to}}
          </td>
          <td>
            {{#link-to 'vocabulary' record.id}}
              {{record.name}}
            {{/link-to}}
          </td>
          <td>
            {{record.description}}
          </td>
          <td>
            {{date record.createdAt}}
          </td>
          <td>
            {{date record.updatedAt}}
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>

