<div class="content-block post">
<div class="post-teaser teaser panel panel-default">
  <div class="header panel-heading">
    <span class="creator">
      {{#link-to 'user' creator.id}}
        <span class="creator-avatar avatar-small">{{user-avatar user=creator}}</span>
        <span class="creator-name">{{creator.displayName}}</span>
      {{/link-to}}
    </span>
    <a {{action 'showSharedWith'}} href="#" class="shared-with text-mute">
      <span class="glyphicon glyphicon-globe"></span>
    </a>
    |
    {{#link-to 'post' id classNames="small"}}
       Link
    {{/link-to}}
    <span class="createdAt post-created-at">{{format-date createdAt}}</span>
  </div>

  <div class="panel-body">

    {{#if isEditing}}
    <form role="form" {{action "submit" on="submit"}}>
      <div class="form-group">
        {{we-wysiwyg-editor name="body" linkedPage=newWembed value=body
          onChangeText="onChangeBodyText"
          onPasteText="onPasteBodyText"
        }}
      </div>

      {{#if selectingAttachOption}}
      <div class="form-group attach-options">
        <button {{action 'openShareImage'}} type="button" class="btn btn-xs btn-default">
          <i class="glyphicon glyphicon-picture"></i> {{t "Image"}}
        </button>
      </div>
      {{/if}}

      <div class="form-group">
        {{#if wembed.url}}
          {{we-wembed url=wembed.url imageIndex=wembed.imageIndex isEditing='true'}}
        {{/if}}
      </div>

      {{#if shareImages}}
        <div class="form-group">
          <div class="form-group row add-images">
            <label for="addImages" class="col-sm-2 control-label">{{t "Attach images"}}</label>
            <div class="col-sm-10">
              {{image-upload classNames="we-share-images-input" files=filesNew}}
            </div>
          </div>
        </div>
      {{/if}}
      <div class="form-group images-preview">
        <div class="row">
          {{#each files}}
            <div class="col-xs-6 col-md-3">
              {{we-image-preview file=this onRemove='onRemoveImage'}}
            </div>
          {{/each}}

          {{#each images}}
            <div class="col-xs-6 col-md-3">
              {{we-image file=this onClick='onRemoveSalvedImage'}}
            </div>
          {{/each}}
        </div>
      </div>

      <div class="footer">
        <div class="actions">
          <button type="submit" class="btn btn-primary">
            <span class="glyphicon glyphicon-ok"></span> {{t "Share"}}
          </button>
          <button type="button" {{action 'cancel'}} class="btn btn-default cancel"> {{t "Cancel"}}</button>
        </div>
      </div>
    </form>
    {{else}}
      <div class="content">
        <div class="post-text">{{marked-text body}}</div>
        {{#if wembed.url}}
          {{we-wembed url=wembed.url imageIndex=wembed.imageIndex }}
        {{/if}}

        <div class="images row">
          {{#each images}}
            <div class="col-md-3">
              {{#we-image-overlay href=urls.original data-fancybox-group='postGaleria'}}
                {{we-image file=this size="large" class="img-thumb img-responsive" }}
              {{/we-image-overlay}}
            </div>
          {{/each}}
        </div>
      </div>
      <div class="footer">
        <div class="actions">
          {{#if id}}
            {{we-flag flagType='like' model='post' modelId=id
              flagText='<span class="glyphicon glyphicon-thumbs-up"></span>'}}

            {{we-follow model='post' modelId=id flagText="Seguir"}}

            {{#can 'post_update' 'post' 'model'}}
              <button type="button" class="btn btn-xs btn-default" {{action 'edit'}}>
                <span class="glyphicon glyphicon-edit text-primary"></span> {{t 'Edit'}}
              </button>
            {{/can}}

            {{#can 'post_destroy' 'post' 'model'}}
              <button class="btn btn-xs btn-default" {{action 'deleteItem'}}>
                <span class="glyphicon glyphicon-remove text-danger"></span> {{t 'Delete'}}
              </button>
            {{/can}}

            {{#link-to 'post' id classNames="btn btn-xs btn-default"}}
              <span class="glyphicon glyphicon-link text-success"></span>  {{t 'post.link.show'}}
            {{/link-to}}

            {{#link-to 'post' id (query-params anchor="comments") classNames="btn btn-xs btn-primary"}}
              <span class="glyphicon glyphicon-comment"></span> {{model.commentCount}} {{t 'Comment'}}
            {{/link-to}}
          {{/if}}
        </div>
      </div>
    {{/if}}
  </div>
</div>
</div>
