{{#each crumb in breadCrumbs}}
  {{#if _view.contentIndex}}
    <li {{bind-attr class="crumb.isCurrent:current:"}}>
      {{#if crumb.linkable}}
        {{#link-to crumb.path}}
          {{crumb.name}}
        {{/link-to}}
      {{else}}
        {{crumb.name}}
      {{/if}}
    </li>
  {{else}}
    <li {{bind-attr class=":first crumb.isCurrent:current:"}}>
      {{#if crumb.linkable}}
        {{#link-to crumb.path}}
          {{crumb.name}}
        {{/link-to}}
      {{else}}
        {{crumb.name}}
      {{/if}}
    </li>
  {{/if}}

{{/each}}
