<div class="text-center">
  <p>{{{t deleteMsg}}}</p>
  <form method="post">
    <a class="btn btn-default" href="{{redirectTo}}">{{t 'Return'}}</a>
    <button class="btn btn-danger">{{t 'Delete'}}</button>
    <input name="redirectTo" type="hidden" value="{{redirectTo}}">
  </form>
</div>