<div class="actions">
{{we-action-create-btn resourceName req}}
</div>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>ID</th>
      <th>{{t 'actions'}}</th>
    </tr>
  </thead>
  <tbody>

{{#each data}}
  <tr>
    <td>{{id}}</td>
    <td>
      {{we-action-view-btn ../resourceName this ../req id}}
      {{we-action-edit-btn ../resourceName this ../req id}}
      {{we-action-delete-btn ../resourceName this ../req id}}
    </td>
  </tr>
{{/each}}

  </tbody>
  <tfoot>
    <td colspan="2">
      {{paginate count=metadata.count limit=query.limit currentPage=query.page req=req}}
    </td>
  </tfoot>
</table>