<div class="row">
  <div class="col-lg-4 col-lg-offset-4">
    <h1 class="page-header">
      <span class="glyphicon glyphicon-lock"></span> {{t 'Login'}}
    </h1>

    {{we-sys-messages messages=messages}}

    <form class="form center-block" role="form" name="loginForm" method="post" {{action "login" on="submit"}}>
      <!-- form-login -->
      <div class="form-login">
        <div class="form-group">
          <label class="sr-only">{{t 'Email address'}}</label>
          {{input name="email" value=controller.email  type="email" placeholderTranslation='auth.register.email.label' classNames="form-control input-lg"}}
        </div>

        <div class="form-group">
          <label class="sr-only">{{t "Password"}}</label>
          {{input value=controller.password type="password" placeholderTranslation='auth.register.password.label' classNames="form-control input-lg"}}
        </div>

        <hr>

        <div class="form-group">
          <button {{action 'login'}} class="btn btn-primary" type="submit">{{t "Sign in"}}</button>

          <a {{action goToForgotPaswordPage}} class="link" href="/auth/forgot-password">
            {{t "Forgot password?"}}
          </a>
        </div>

      </div>
    </form>
    <!-- /form-login -->
  </div>
</div>


