
<hr/>

{{#if vocabulary.id}}
  <h2>Termos no vocabulário</h2>
{{/if}}

<div class='row'>
  <div class='col-md-12'>
    <button {{action "showCreateTermForm"}} class="btn btn-default">
      <span class="text-primary glyphicon glyphicon-plus"></span> {{t 'admin.vocabularies.term.create'}}
    </button>
  </div>

  {{#if showCreateTermForm}}
    <div class='create-term-form col-md-12'>
      {{partial 'partials/term-create-form'}}
    </div>
  {{/if}}
</div>
<br>

<div class="table-responsive">
  <table class="table table-bordered table-hover table-striped">
    <thead>
      <tr>
        <th>Id</th>
        <th>{{t 'term.table.th.text'}}</th>
        <th>{{t 'term.table.th.description'}}</th>
        <th>{{t 'Actions'}}</th>
      </tr>
    </thead>

    <tbody>
      {{#each record in terms}}
        <tr>
          <td>
            {{record.id}}
          </td>
          <td>
            {{record.text}}
          </td>
          <td>
            {{record.description}}
          </td>
          <td>
            <button {{action "deleteTerm"}} class="btn btn-sm btn-default"><span class="text-danger glyphicon glyphicon-remove"></span> {{t 'Delete'}}</button>
          </td>
        </tr>
      {{else}}
        <tr>
          <td colspan="6">
            <div class="jumbotron">
              <p class="text-center">{{t 'vocabulary.terms.empty'}}</p>
            </div>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>

